# HW4
### Author: Harsh Tandon

<b>Instructions:</b> Write your answers in the empty code cells below.

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code does not work on different data</li>
<li>Your code is unnecessarily slow (you use a for loop, or you use DataFrame.apply unnecessarily, etc)
</ul>

Start by downloading the file <i>cleaned_survey.csv</i> in the same folder as this .ipynb file. The file contains the results from the student survey.

Then, execute the code below to load the data in a  dataframe <i>df</i>.

In [2]:
import pandas as pd
df = pd.read_csv("cleaned_survey-1.csv", index_col=0)
df.drop(['Expert'],axis=1,inplace=True)
#df.drop(['Languages','Expert'],axis=1,inplace=True)

In [3]:
pd.set_option('display.max_columns',50)

In [4]:
df.head()

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages
0,0.0,MSIS,4,1,1,0.0,0,1.0,1.0,0.0,1.0,0.0,1,1,1.0,4,4,0,1,0,0,6
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4

### Data Set description

The data set contains one row for every person who filled the survey. We use <b>person</b> and <b>student</b> interchangeably.

<ul>
<li><b>Job</b>: 0 for those students without a job, 0.5 for those students with a part-time job, and 1 for those students with a full-time job
<li><b>Program</b>: program of enrollment
<li><b>C-Regression</b>: indicates whether the student knows (1) or doesn't know (0) a certain programming language or topic
<li><b>Classification</b>: indicates the level of knowledge (1-5) on classification
<li><b>Clustering</b>: indicates the level of knowledge (1-5) on clustering
<li><b>Bach_0to1</b>: 1 if time elapsed from graduation is less than a year; 0 otherwise
<li><b>Bach_1to3</b>: 1 if time elapsed from graduation is between one and three years; 0 otherwise
<li><b>Bach_3to5</b>: 1 if time elapsed from graduation is between three and five years; 0 otherwise
<li><b>Bach_5Plus</b>: 1 if time elapsed from graduation is more than five years; 0 otherwise
</ul>

### Question 1

<p>For each programming skill level, compute:</p>
<ol>
<li><b>PropPJC2</b>:the proportion (0 to 1, computed relatively to the group size) of people that know at least one among Python and Java and their Classification knowledge has to be at least 2. 
<li><b>StdevClust</b>:the standard deviation of the Clustering knowledge (function <i>std</i>)
</ol>
<p>You should return one data frame with one row for each programming skill level and two columns named <b>PropPy_or_Java_and_Class2+</b> and <b>StdevClass</b>. Don't worry about having a Hierarchical Index for the columns.</p> 

(In Camino, pick the correct **PropPy_or_Java_and_Class2+** number for student with ProgSkills = 5 )

In [5]:
#create a new column for the required filter
df['PropPJC2'] = ((df['Python'] == 1) | (df['Java'] == 1)) & (df['Classification'] >= 2)

#group by skills and compute 'proportion' and 'standard deviation' and store result in a variable
result = df.groupby('ProgSkills').agg({'PropPJC2':'mean','Clustering':'std'})\
    .rename(columns = {'PropPJC2':'PropPy_or_Java_and_Class2+','Clustering':'StdevClass'})

#delete the extra column generated
df.drop(columns = 'PropPJC2', inplace = True)

#print the result
result

            PropPy_or_Java_and_Class2+  StdevClass
ProgSkills
1                             0.000000    0.786796
2                             0.363636    0.687552
3                             0.655172    1.085053
4                             0.583333    1.083625
5                             0.500000    0.707107

### Question 2

For each program, how many people have a Programming Skill knowledge of less than 4? Report one row for each existing program. 

(In Camino, fill in the number of students for MBA and MSIS in a format of MBA_total/MSIS_total. For example : 10/23 )

In [6]:
#create a new column for the required filter
df['ProgSkill_less4'] = (df.ProgSkills < 4)

#check if the new column has any NA values
df.ProgSkill_less4.isna().any()

False

In [7]:
#group by Program and count students with skills less than 4 and store result in a variable
result = df.groupby('Program')['ProgSkill_less4'].sum()

#delete the extra column generated
df.drop(columns = 'ProgSkill_less4', inplace = True)

#print the result
result

Program
Business Man                      1.0
Faculty!                          1.0
MBA                              13.0
MSIS                             30.0
Master of Finance                 0.0
Supply Chain Mgmt & Analytics     2.0
Name: ProgSkill_less4, dtype: float64

### Question 3

For each Job, return the rows of those people who, within their group, know the most Languages. (In Camino, pick the correct total number of people who satisfy this condition)

In [30]:
#For each Job return the number of rows of people who know most languages within their group  
df.groupby('Job')['Languages'].apply(lambda x: x[x == x.max()]).count()

5

In [31]:
#edit the previous section to return the entire row
df.groupby('Job').apply(lambda x: x[x.Languages == x.Languages.max()])

        Job Program  ProgSkills  C  CPP   CS  Java  Python   JS    R  SQL  \
Job
0.0 46  0.0    MSIS           4  1    1  1.0     1     1.0  1.0  0.0  1.0
0.5 23  0.5    MSIS           3  1    1  0.0     1     1.0  1.0  0.0  1.0
    50  0.5     MBA           3  0    0  0.0     1     1.0  1.0  1.0  1.0
1.0 45  1.0    MSIS           3  1    1  0.0     1     1.0  1.0  1.0  1.0
    60  1.0     MBA           3  1    1  1.0     1     1.0  1.0  0.0  1.0

        SAS  Excel  Tableau  Regression  Classification  Clustering  \
Job
0.0 46  0.0      1        1         1.0               2           2
0.5 23  0.0      1        1         0.0               2           2
    50  1.0      1        1         1.0               3           3
1.0 45  0.0      0        1         1.0               2           2
    60  0.0      1        0         1.0               1           1

        Bach_0to1  Bach_1to3  Bach_3to5  Bach_5Plus  Languages
Job
0.0 46          0          1          0           0          7
0.5 23          0          0          1           0          6
    50          0          1          0           0          6
1.0 45          0          1          0           0          7
    60          0          0          0           1          7

### Question 4

Let us define the "data science experience" of a given person as the person's largest score among Regression, Classification, and Clustering. Compute the average data science experience among all MSIS students. 
(In Camino, pick the correct number)

In [11]:
data_science_exp = df[['Regression','Classification','Clustering']].max(axis=1)
data_science_exp[df.Program == 'MSIS'].mean()

1.875

### Question 5

Among those with at least one year elapsed from their Bachelor's degree, find out who is the "most knowledgeable" person. The most knowledgeable person is the one who knows Classification best (in case of ties, consider whether they know C, then CPP, then CS, then Java, then SAS). Retrieve that person's Program information. (pick the right one in Camino)

In [25]:
#filter the person with at least one year elapsed from their Bachelor's degree
df_atLeast_bach1 = df[(df.Bach_1to3 == 1) | (df.Bach_3to5 == 1) | (df.Bach_5Plus == 1)]

#find most knowledgeable person
df_atLeast_bach1.sort_values(['Classification','C','CPP','CS','Java','SAS'],\
                             ascending = [False, False, False, False, False, False]).head(1)

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages
16,1.0,Faculty!,3,1,1,0.0,1,0.0,0.0,0.0,1.0,1.0,1,1,1.0,4,5,0,0,0,1,3